{% extends "master.html" %}
{% load static %}
{% block title %}
Somos
{% endblock %}
{% block contenido %}
<div class="container" style="background-image:url('{% static "img/fondo4.jpg" %}');height:100%">
	<h2>Farmacia </h2><a href=".." class="btn btn-info">Home</a>
	<p>Presentacion de una farmacia dividiendola en dos entornos fundamentales :</p>
	<div>
		<h3> Para el Usuario:</h3>
		<p> Este sitio tiene el fin de dar a conocer los diferentes medicamentos a los distintos usuarios con sus respectivos detalles como:</p>
		<ol>
		<li>Codigo </li>
		<li>Nombre </li>
		<li>Cantidad </li>
		<li>Descripcion</li>
		<li>Precio</li>
		</ol>
		<img src="" alt="usuario-img" />
	</div>
	<div>
		<h3> Para el Administrador:</h3>
		<p> Este sitio tiene el fin de dar una buena gestion de administracion para una farmacia en cuanto a manejo de medicamentos,proveedores,etc con respectivos detalles como:</p>
		<ul>
		<li>Ingreso </li>
		<li>Modificacion </li>
		<li>Eliminacion </li>
		</ul>
		<img src="" alt="admin-img" />
	</div>
</div>
	
{% endblock %}